// variables
// colors
$dark-blue: #123857;
$blue: #2490cd;
$light: #f5f6f6;
$white: #fff;
$black: #000;
$transparent: transparent;

// admin
$green: #91c84c;
$dark-green: #02384a;
$brown: #676767;
$grey: #c3d1d9;

// fonts
$fontFamily: "Gotham Pro", sans-serif;

// element-plus
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $input-font-size: (
    "large": 16px,
  ),
  $common-component-size: (
    "large": 50px,
  ),
  $input: (
    "text-color": $black,
    "border-radius": 10px,
    "bg-color": $light,
    "placeholder-color": $black,
    "border-color": $transparent,
    "hover-border-color": $blue,
    "focus-border-color": $blue,
  ),
  $input-padding-horizontal: (
    "large": 20px,
  ),
  $button-border-radius: (
    "large": 10px,
  ),
  $button-padding-vertical: (
    "large": 0px,
  ),
  $button-padding-horizontal: (
    "large": 30px,
  ),
  $pagination: (
    "font-size": 20px,
    "bg-color": $transparent,
    "border-radius": 12px,
    "button-width": 40px,
    "button-height": 40px,
    "button-disabled-bg-color": $transparent,
    "button-bg-color": $transparent,
    "hover-color": $blue,
  ),
  $table: (
    "header-bg-color": $light,
    "tr-bg-color": $light,
    "text-color": $dark-blue,
    "header-text-color": $dark-blue,
  ),
  $table-cell-padding: (
    "large": 8px 20px,
  ),
  $table-font-size: (
    "large": 16px,
  )
);

.el-form-item__error {
  padding-top: 0.5px !important;
  font-size: 14px !important;
}

.el-textarea textarea {
  min-height: 140px !important;
  padding: 14px 19px !important;
}

.el-table__row td {
  border-right: 1px solid $grey !important;
  border-bottom: 1px solid $grey !important;
}

.el-table__row td:last-child {
  border-right: none !important;
}

.el-table__header-wrapper {
  background-color: $light !important;

  thead {
    tr th {
      background-color: $white !important;
      font-size: 18px !important;
      font-weight: 700 !important;
    }

    tr:first-child th:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: none !important;
    }

    th {
      border-right: 1px solid $grey !important;
    }
  }
}

.pagination {
  .el-pagination {
    button[aria-disabled="true"] {
      background-color: $transparent !important;
    }

    .btn-prev .el-icon,
    .btn-next .el-icon {
      font-size: 20px !important;
    }

    li[aria-current="true"] {
      background-color: $blue !important;
    }
  }

  .custom_pagination {
    svg path {
      fill: $transparent;
      stroke: $black;
      opacity: 0.8;
    }

    &:hover {
      svg path {
        stroke: $blue;
      }
    }

    &.disabled {
      cursor: not-allowed;

      svg path {
        stroke: $brown;
        opacity: 0.6;
      }

      &:hover {
        svg path {
          stroke: $brown;
          opacity: 0.6;
        }
      }
    }
  }
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #9d9d9d;
  width: 10px;
}

body {
  font-family: $fontFamily;
}

.menu-item.router-link-exact-active .menu-item {
  color: $blue;
}

.menu-item.router-link-exact-active .footer-item {
  color: $white;
  opacity: 1 !important;
}

.locale-active {
  color: $blue !important;
}

.el-collapse-item,
.el-collapse-item button,
.el-collapse-item div {
  border: none !important;
  box-shadow: none !important;

  i {
    font-size: 16px;
    color: $dark-blue;
    transition: all 0.1s linear;
    margin-right: 18px !important;
    margin-top: -2px !important;
  }
}

.el-collapse-item {
  margin: 0 !important;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.115) !important;

  button {
    padding-top: 28px;
    padding-bottom: 26px;
  }

  .el-collapse-item__content {
    padding: 0 !important;
  }

  &.is-active,
  &:hover {
    button p,
    i {
      color: $blue !important;
    }
  }
}

.tinymce-editor a {
  color: $blue;
}

// swiper
.swiper-pagination {
  top: auto;
  bottom: 20px !important;

  .swiper-pagination-bullet {
    background-color: $white;
    opacity: 0.5;
    width: 10px !important;
    height: 10px !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: $white !important;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transition: all 0.1s linear;
  opacity: 0.5;

  &::after {
    font-size: 14px;
    color: black !important;
    transition: all 0.1s linear;
  }

  &:hover {
    opacity: 1;
  }
}

.swiper-thumb-child.swiper-slide-thumb-active div {
  bottom: 0;
}

.app-button {
  background-color: $blue;
  border: 1px solid $blue;

  &:hover {
    background-color: $blue;
    border: 1px solid $blue;
  }

  &.more-button {
    width: fit-content !important;
    background-color: $white;
    border: 1px solid $blue !important;

    &:hover {
      color: $blue !important;
    }

    color: $blue !important;
  }
}

.app-form {
  .el-input__wrapper,
  input,
  textarea {
    border-radius: 0 !important;
  }

  .el-form-item__error {
    margin-top: 1px !important;
  }

  &.default {
    .el-input__wrapper,
    input,
    textarea {
      background-color: #f5f6f6;
      color: $dark-blue;

      &::placeholder {
        color: $dark-blue;
        opacity: 0.7;
      }
    }
  }

  &.outlined {
    .el-form-item {
      background-color: rgba(255, 255, 255, 0.553) !important;

      * {
        background-color: $transparent !important ;
        color: $white !important;

        &::placeholder {
          color: $white !important;
        }

        .el-form-item__error {
          color: #f56c6c !important;
        }
      }
    }

    .app-button {
      background-color: $white !important;
      color: $blue !important;
    }
  }
}
// admin-panel
.admin-form {
  .el-input__wrapper,
  .el-textarea__inner {
    background-color: $white !important;
  }
}
